<h1>Signup</h1>
<form method="post">
	<label> Username 
		<input type="text" name="username" value="{{username}}">
		<span style="color:red">{{username_error}}</span>
	</label><br/>
	<label> Password 
		<input type="password" name="password" value="{{password}}">
		<span style="color:red">{{password_error}}</span>
	</label><br/>
	<label> Verify Password 
		<input type="password" name="verify" value="{{verify}}">
		<span style="color:red">{{verify_error}}</span>
	</label><br/>
	<label> Email 
		<input type="text" name="email" value="{{email}}">
		<span style="color:red">{{email_error}}</span>
	</label><br/>
	<input type="submit">
</form>